@model List<ResaultBookingDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Rezervasyon işlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Rezervasyon listesi</div>
                    </div>
                    <div class="card-body">
                        <div class="card-sub">
                            Rezervasyon ile ilgili işlemleri aşağıdan gerçekleştirebilirsiniz
                        </div>
                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Ad Soyad</th>
                                    <th scope="col">Kişi sayısı</th>
                                    <th scope="col">Telefon numarası</th>
                                    <th scope="col">Mail</th>
                                    <th scope="col">Tarih</th>
                                    <th scope="col">Sil</th>
                                    <th scope="col">Güncelle</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.BookingId</td>
                                        <td>@item.BookingName</td>
                                        <td>@item.BPersonCount</td>
                                        <td>@item.BookingPhone</td>
                                        <td>@item.Bookingdate</td>
                                        <td>@item.BookingMail</td>
                                        <td><a href="/Booking/DeleteBooking/@item.BookingId" class="btn btn-outline-danger">Sil</a></td>
                                        <td><a href="/Booking/UpdateBooking/@item.BookingId" class="btn btn-outline-success">Güncelle</a></td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                        <a href="/Booking/CreateBooking" class="btn btn-outline-primary">Rezervasyon Kayıt</a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

